.slider .track{
	-fx-background-color: linear-gradient(to left, #0197F6, #D81159);
	-fx-background-radius: 0;
}
.slider .thumb{
	-fx-pref-height: 30px;
	-fx-pref-width: 10px;
	-fx-background-radius: 0;
}